@import '../styles.scss'; /* global styles */
@import 'variables.scss'; /* client variables */
@import './../mixins.scss'; /* Global Mixins */

.content {
  background-color: lighten($theme-color, 50%);
  .luci-button--primary:not(.luci-button--input) {
    background-color: $theme-color;
    border-color: $theme-color;
  }
}

.footer,
.header {
  .row {
    background-color: darken($theme-color, 10%);
  }
}
.menu {
  background-color: lighten($theme-color, 40%);
}
