@import '../styles.scss'; /* global styles */
@import 'variables.scss'; /* client variables */
@import './../mixins.scss'; /* Global Mixins */

body {
  color: $theme-color;
  background-color: lighten($theme-color, 50%);
}

.main {
  header {
    background-color: $theme-color;
  }
}
